/* css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-color: #031c2c;
}

.header{
    background-color: #27649f;
}

.footer{
    background-color: #27649f;
}

.logo{
    height: 40px;
    width: 62px;
    margin-right: 10px;
}

.navegador{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items{
    text-decoration: none;
    margin-right: 20px;
}

li{
    display: inline-block;
}

.lista_footer{
    display: block;
    margin-bottom: 8px;
}

.texto_footer{
    margin-top: 10px;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.items_footer{
    text-decoration: none;
}
.footer_contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.integrantes{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    

}

.tituloprincipal{
    margin-right: 50px;
}
.img{
    size: 100%;
}
.pelis{
    width: 250px;
    height: 140px;
    border-radius: 12px;
    flex-wrap: wrap;
    
}
.pelis:hover{
    width: 280px;
    height: 155px;
}
.pelis_favoritos{
    width: 285px;
    height: 160px;
    border-radius: 12px;
    flex-wrap: wrap;
}
.pelis_favoritos:hover{
    width: 320px;
    height: 180px;
}

.seccion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.seccion_favoritos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titulo_detalle{
    font-size: 30px;
    padding: 20px;
    padding-bottom: 20px;
}
.detalles_section{
    display: flex;
    flex-direction: row;
}
.sinopsis_detalle{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

.detalles_generos_section{
    display: flex;
    flex-direction: row;
}

.sinopsis_detalle_generos{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

.generos{
    text-decoration: none;
}

.foto_detalle_breakingbad{
    width: 448;
    height: 628px;
    margin-left: 20px;
    margin-right: 20px;
}
.foto_detalle_topgun{
    margin-left: 20px;
    margin-right: 20px;
}
.seccion_peliculas{
    margin-top: 23px;
    margin-left: 85px;
    margin-bottom: 15px;
}

input{
    color: black;
    font-size: 15px;
    width: 400px;
    margin-right: 30px;
}

h3{
    font-size: 17px;
}

@media(max-width:100%){
    body{ background-color: #031c2c; }
}
