/* css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-color: #031c2c;
}

.header{
    background-color: #27649f;
}

.logo{
    height: 40px;
    width: 62px;
}

.navegador{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items{
    text-decoration: none;
    margin-right: 20px;
}

li{
    display: inline-block;
}

.tituloprincipal{
    margin-right: 470px;
}
.img{
    size: 100%;
}
.pelis{
    width: 250px;
    height: 140px;
    border-radius: 8px;
    flex-wrap: wrap;
    
}
.pelis:hover{
    width: 280px;
    height: 155px;
}
.seccion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titulo_detalle{
    font-size: 30px;
    padding-bottom: 10px;
}
.detalles_section{
    display: flex;
    flex-direction: row;
}
.sinopsis_detalle{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

.detalles_generos_section{
    display: flex;
    flex-direction: row;
}

.sinopsis_detalle_generos{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

.foto_detalle_breakingbad{
    width: 448;
    height: 628px;
}
